* {
    box-sizing: border-box;
    font-size: 18px;
    color: antiquewhite;
    font-family: Consolas, monospace;
}

footer {
    flex-shrink: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    width: auto;
    text-align: center;
    padding: 1%;
    bottom: auto;
    margin-top: auto;
}

html {
    scroll-behavior: smooth;
}

div {
    flex: content;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin: 0;
    background-image: linear-gradient(to right, #444, #101010);
}

main {
    width: auto;
    margin: 24px;
    min-height: 100vh;
}

p,
h3,
h4,
h5,
h6 {
    margin: 24px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    margin: 24px;
}

.header-flex {
    font-size: 20px;
    margin: 2%;
    display: flex;
    justify-content: left;
}

.header-flex h1 {
    margin: 1%;
    vertical-align: middle;
    align-items: center;
}



nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1%;
    margin-inline: 0;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    color: yellow;
    text-decoration: underline;
}

/* footer */

.hide {
    display: none;
}

@media screen and (max-width: 300px) {
    .hide {
        display: block;
    }

    .page-content {
        display: none;
    }
}